<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../static/contact.css">
    <meta charset="utf-8">
    <title>Daniel Murray | Contact</title>
  </head>
  <body>
    {% extends "navbar.html" %}
    {% block content %}
    <div class="page">
        <h1 class="title">
            Contact Me
        </h1>
        <div class="bubble" id="contact_intro">
            <b>
                Email: <br></br>
                Phone:
            </b>
        </div>
        <div class="bubble" id="contact_info">
            danielm05@vt.edu <br></br>
            (443) 698-8085
        </div>
        <div id="filler"></div>
    </div>
    {% endblock %}
  </body>
</html>